:root{
    --primary-color: #61cfa2;
}
*{
    box-sizing: inherit;
    margin :0
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: rgb(150, 248, 163);
}
.disInline{
    display: inline;
}
.header{
    display: flex;
    justify-content: center;

}
.header__title{
    margin : 8px 0 8px;
    font-size: 16px;
    color: #4999db;
}

.take-snap{
    justify-content: center;
    text-align: center;
}
.take-snap__camera{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    background-color: antiquewhite;
}
.take-snap__btn{
    border: none;
    margin-top: 10px;
    /* max-width: 100px; */
    min-width: 100px;
    padding: 4px;
    border-radius: 5px;
    background-color: var(--primary-color);
}

.vegetable__info{
    padding: 10px 14px;
    /* margin: 12px 70px; */
    list-style: none;
    /* background-color: #bef8e0; */
    border-radius: 8px;
    font-size: 12px;

}
.vegetable__info li{
    margin: 6px 0;
    font-size: 16px;
    color:#4999db;
    font-weight: 600;
}
.vegetable__info li p{
    color: initial;
    font-size: 14px;
    font-weight: initial;
}
.vegetable li p{
    color: initial;
    font-size: 14px;
    font-weight: initial;
    display: inline;

}

.vegetable__container {
    display: flex;
    overflow-x: auto;
  
}
.vegetable__item {
    display: inline-flex;
    position: relative;
    margin: 12px 40px;
    list-style: none;
    line-height: 16px;
    /* background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    border-radius: 8px;
    min-width: 400px;
}
.vegetable__item::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    z-index :-1;
    opacity: 0.5
}
